@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background: url("images/binary-city.jpg") no-repeat;
    background-color: #D7E8E8;
    background-size: cover;
}

#wrapper {
    max-width: 90%;
    margin: 0 auto;
}

#forms {
    margin-top: 15%;
    margin-left: 15%;
}

form {
    border: 1px solid #D7E8E8;
    border-radius: 5%;
    background-color: #2E3956;
    width: 470px;
    height: 400px;
    display: inline-block;
    margin: 30px;
    position: relative;
}

#first {
    float: left;
}

h3 {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-left: 7%;
    padding-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 1.2em;
    border: none;
    text-indent: 35px;
}

input[type="text"] {
    background: url(images/name.svg) #fff no-repeat;
    background-size: 30px 30px;
    text-indent: 35px;
}

input[type="email"] {
    background: url(images/email.svg) #fff no-repeat;
    background-size: 30px 30px;
}

input[type="password"] {
    background: url(images/password.png) #fff no-repeat;
    background-size: 30px 30px;
}

a {
    text-decoration: #4AAD33;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    position: absolute;
    left: 30px;
    border: 1px solid #90EDC5;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 400px;
    height: 30px;
    margin: 5px 3px 3px 3px;

}

a:hover {
    background-color: #31A831;
}

@media all and (max-width: 700px){
    #forms {
        margin-left: 5%;
    }
}

@media all and (max-width: 600px){
    #forms {
        margin-left: 0;
    }
}