@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

#wrapper{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

/* Main */

main div iframe {

    width: 100%;
    min-height: 510px;
    background-size: cover;
}

/* Footer */

/* Header and footer media queries are in style.css
@media all and (max-width: 780px){

    .social{
        margin:5px 0px;
    }

    #facebook,#google,#twitter{
        margin-left:0px;
    }
}


@media all and (max-width: 600px){


    header{
        display: block;
    }
    #logo{
        display:block;
        width: 100%;
        text-align:center;
        margin:0px auto;
        padding-bottom:10px;
    }

    header > nav{
        text-align:center;
        display:block;
        margin:10px auto;

    }

    header div > a{
        width:100%;
        display:block;
    }

    header > div > .name {
        width:100%;
        margin:0 auto;
        display:block;
    }
    header > div > div.name > p{
        display:block;
        width:45%;
        margin:0 auto;
    }
    header > nav > a > img{
        width:20%;
        margin:0 auto;
    }

    header > div > div.name > a {
        margin: 0 auto;
    }

    footer {
        display:block;
        width:100%;
        margin:0px;
    }
    footer  > ul{
        padding-top:0px;
        margin:0 auto;
        width:100%;
        text-align:center;
        display:block;
    }

}
*/

