@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

#wrapper{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

/* Main */
main {
    background: url('../img/background_main-header_2.jpg') center no-repeat;
    background-size: cover;
    min-height: 444px;
    text-align: center;
}

main div p{
    display:block;
    color:#fff;
    font-size:2em;
    width:60%;
    line-height:3em;
    padding-top:5%;
    margin:0 auto;
    text-align:center;
    font-weight: 700;
    margin-bottom: 50px;
}

main .apply {
    background-color: #E1464B;
    border: 1px solid #E1464B;
    color: #D7E8E8;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    height: 40px;
    display: block;
    margin: 0 auto;
    width: 250px;
}

main .apply:hover {
    color: #E1464B;
    background: #E8E8E8;
    border: 1px solid #E8E8E8;
    cursor: pointer;
}

main a {
    text-decoration: none;
}

/* Footer */

@media all and (max-width: 960px){
    /* header > nav{
        margin-top:20px;
        width: 80%;
    }
    */
}


@media all and (max-width: 780px){

    header > nav > ul > li > a{
        margin:5px 0px;
    }

    main div p {
        line-height: 2em;
    }

    .social{
        margin:5px 0px;
    }

    #facebook,#google,#twitter{
        margin-left:0px;
    }
}


@media all and (max-width: 600px){



    header{
        display: block;
    }
    #logo{
        display:block;
        width: 100%;
        text-align:center;
        margin:0px auto;
        padding-bottom:10px;
    }

    header > nav{
        text-align:center;
        display:block;
        margin:10px auto;

    }

    header div > a{
        width:100%;
        display:block;
    }

    header > div > .name {
        width:100%;
        margin:0 auto;
        display:block;
    }
    header > div > div.name > p{
        display:block;
        width:45%;
        margin:0 auto;
    }
    header > nav > a > img{
        width:20%;
        margin:0 auto;
    }

    header > div > div.name > a {
        margin: 0 auto;
    }

    footer {
        display:block;
        width:100%;
        margin:0px;
    }
    footer  > ul{
        padding-top:0px;
        margin:0 auto;
        width:100%;
        text-align:center;
        display:block;
    }

}

