@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

#wrapper{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

/* Main */
main {
    background: url('../img/background_main-header_2.jpg') center no-repeat;
    background-size: cover;
    min-height: 500px;
    text-align: center;
}

main  h1{
    display:block;
    color:#fff;
    width:60%;
    padding-top:1%;
    margin:0 auto;
    text-align:center;
    font-weight: 700;
}
.partner-type {
    color: black;
    display: inline-block;
    list-style: none;
    border: 3px solid white;
    border-radius: 10px;
    width: 23%;
    height: 400px;
    margin: 10px;
    font-size: 20px;
}
#top{
    background-image: url("images/medal1.jpg");
    background-size: 350px 400px;
    background-repeat: no-repeat;
}
#special{
    background-image: url("images/medal2.jpg");
    background-size: 350px 400px;
    background-repeat: no-repeat;
}
#regular{
    background-image: url("images/medal3.jpg");
    background-size: 350px 400px;
    background-repeat: no-repeat;
}
