@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

#wrapper{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

/* Main */
main {
    background: url('../img/background_main-header_2.jpg') center no-repeat;
    background-size: cover;
    min-height: 444px;
    text-align: center;
}
main  h1{
    display:block;
    color:#fff;
    width:60%;
    padding-top:1%;
    margin:0 auto;
    text-align:center;
    font-weight: 700;
}
section{
    display: inline-block;
}
section img{
    width: 300px;
    height: 280px;
    margin: 20px 20px 20px;
    border: 3px solid #E1464B;
    border-radius: 10px;
}
section h3 {
    color: white;
}
section p {
    color: white;
}
section:hover {
    opacity: 0.7;
    cursor: pointer;
}
